.land
{
   fill: #b9b9b9;
   stroke: white;
   stroke-width: 1;
   stroke-miterlimit: 4;
}
.coast
{
   stroke-width: 0.5;
}
.circle
{
   opacity: 0;
   fill-opacity: 1;
   stroke: black;
   stroke-width: 0.5;
   stroke-opacity: 1;
}

 .tooltip{
	font-size: 12px;
    }
.tooltip_bg{
	fill: white;
	stroke: black;
	stroke-width: 1;
	opacity: 0.85;
 }

